.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cart {
  font-size: 18px;
  background: #222;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}